rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null
        && (
          request.auth.token.admin == true
          // TODO: replace with your admin UID(s) if you don't use custom claims.
          || request.auth.uid in ["EY1drVBYkwhMLYfnK4H8zoQh8K82"]
        );
    }
    match /public/{allPaths=**} { allow read: if true; }
    match /protected/{allPaths=**} { allow read, write: if isAdmin(); }
    match /resumes/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
